{%extends "ProyectoEmpBundle::layout.html.twig"%}
{%block content %}
    <div class="col-lg-6">
<h1> Añadir Experiencia </h1>
{% for message in app.session.flashbag().get("status") %}
    <div class="alert alert-success">{{message}}</div>
{% endfor %}

{{ form_start(form)}}

{{ form_end(form)}}
</div>
<div classe="clearfix"> </div>
{%endblock %}
